---

title: About Us - La Filmothèque

---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include basic-head.html %}
</head>
<body>
  {% include header.html %}
  {% include nav-bar.html %}
  <div class="about-cont">
    <h1>About Us</h1>
    <!--<p>
      Films, like books, can remain beautiful and relevant for decades after they were first released.
      Even so, it can be hard to find a place to watch old movies. Some theaters show classic movies from time to time,
      but those events are rare and often expensive. La Filmothèque is an alternative for people who want to
      watch old movies for free in the comfort of their own home. Many classic films have recently come into the public
      domain, which means that they can viewed freely by anyone who wants to see them. La Filmothèque has taken
      advantage of that recent change to give people a chance to experience a variety of classic movies for free over
      the Internet.
    </p>
    <p class="extra">
      La Filmothèque offers a great opportunity to experience the past that simply was not available even a
      decade ago. People who remember these films from when they were in the theaters can relive the past and help pass
      it on to the next generation, while younger people can take this opportunity to study and appreciate the
      cinematic art of the past. The classic films are free, easy to view, and waiting for whoever wants to watch them.
    </p>-->
    <p>
      La Filmothèque is a public domain film library. That means a place to watch classic public domain films for free,
      get recommendations and find the good ones, and dive into the history of world cinema.
    </p>
    <p>
      If you wish to stay up to date, as well as occasionally recieve entertaining gifs, make sure to
      <a href="">follow us on Twitter.</a>
    </p>
    <p>
      Discussions in the film pages or on social networks are encouraged as well!
    </p>
    <p>
      We are constantly adding films and improving the available information. If there is a film you would like to see
      embedded on the site, or if you run into an inaccurate description or link, please <a href="">let us know!</a>
    </p>
    <br>
    <p class="faint">
      All the best,<br>
      La Filmothèque Team
    </p>
  </div>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>