---

title: About Us - La Filmothèque

---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include basic-head.html %}
</head>
<body>
  {% include header.html %}
  {% include nav-bar.html %}
  <div class="about-cont">
    <h1>About Us</h1>
    <p>
      La Filmothèque is a public domain film library. That means a place to watch classic public domain films for free,
      get recommendations and find the good ones, and dive into the history of world cinema.
    </p>
    <p>
      If you wish to stay up to date, as well as occasionally receive entertaining gifs, make sure to
      <a href="https://twitter.com/La_Filmotheque">follow us on Twitter.</a>
    </p>
    <p>
      Discussions in the film pages or on social networks are encouraged as well!
    </p>
    <p>
      We are constantly adding films and improving the available information. If there is a film you would like to see
      embedded on the site, or if you run into an inaccurate description or link, please <a href="/contact">let us know!</a>
    </p>
    <br>
    <p class="faint">
      All the best,<br>
      La Filmothèque Team
    </p>
  </div>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>