---

title: About Us - La Filmothèque

---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include basic-head.html %}
  <title>About Us - La Filmothèque</title>
</head>
<body>
  {% include header.html %}
  {% include nav-bar.html %}
  <div class="about-cont no-space">
    <h1>About Us</h1>
    <p>
      La Filmothèque is a public domain film library. This means a place to watch classic public domain films free of charge,
      get recommendations, and dive into the history of world cinema. It is our hope to expose
      new audience to films, genres and directors they might not have been exposed to otherwise.
    </p>
    <p>
      If you wish to stay up to date, as well as occasionally receive entertaining gifs, make sure to
      <a href="https://twitter.com/La_Filmotheque">follow us on Twitter.</a>
    </p>
    <p>
      Discussions in the film pages or on social media are encouraged as well!
    </p>
    <p>
      We are constantly adding films and improving the available information. If there is a film you would like to see
      embedded on the site, or if you run into an inaccurate description or link, please <a href="/contact">let us know!</a>
    </p>
    <br>
    <p class="faint">
      All the best,<br>
      La Filmothèque Team
    </p>
  </div>

  <div class="about-cont">
    <h1 id="recommended-resources">Recommended Resources</h1>
    <div class="resources">
      <a href="http://www.cinematologists.com/">
        <img src="/images/sites/cinematologists.jpg" style="width: 100%">
      </a>
      <br>
      <p>
        The Cinematologists - film club and podcast for discerning cinephiles, Hosted by Dr. Dario Llinares & Dr. Neil Fox.
      </p>
      <a href="https://theblondeatthefilm.com/">
        <img src="/images/sites/blonde-at-the-film.jpg" style="width: 100%">
      </a>
      <br>
      <p>
        Cameron writes up wonderful reviews of Hollywood Classics. Be sure to read her <a href="https://theblondeatthefilm.com/2016/07/27/la-filmotheque-streaming-classics/">post about La Filmothèque</a>.
      </p>
    </div>
  </div>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>