---

title: La Filmothèque

---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include basic-head.html %}
  <title> La Filmothèque </title>
  <meta name="description" content="Watch Classic Films at La Filmothèque &#45; A Public Domain Film Library."/>
</head>
<body>
  {% include header.html %}
  {% include nav-bar.html %}
  <div class="main">
    <div class="top-content">
      <div class="film-of-the-day">
        {% assign features = site.data.features %}
        {% assign site-time = site.time | date: "%Y-%m-%d" %}
        {% for feature in features %}
        {% assign feature-date = feature.date | date: "%Y-%m-%d" %}
        {% if feature-date == site-time %}
          {% for film in site.films %}
            {% if film.title == feature.title %}
              <a href="{{ film.url }}"><div class="film">
                <div class="film-image" style="background-image: url({{ film.image }})"></div>
                <div class="play-mark"></div>
              </div></a>
              <div class="description">
                <div class="info">
                  <div class="banner-2">Today's Spotlight</div>
                  <a href="{{ film.url }}">
                    <div class="title">{{ film.title }} <span class="year">{{ film.year }}</span></div>
                  </a>
                  <h3 class="more-info">
                    {{ film.country }} | {{ film.director | join: ', ' }} | {{ film.genre | join: ', ' }}
                  </h3>
                  <div class="synopsis"> {{ film.synopsis }} </div>
                </div>

                {% include share-icons.html %}

              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="content bottom">

      {% include recommended-films.html %}

      {% include home-genres.html %}

      {% include home-decades.html %}

      {% include home-countries.html %}

      {% include home-directors.html %}


    </div>
  </div>

  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>