---
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include basic-head.html %}
</head>
<body>
  {% include header.html %}
  {% include nav-bar.html %}
  <div class="main">
    <div class="home-element">
      <div class="element-title">
        <h2>
          Featured this week
        </h2>
      </div>
      <div class="slider">
        {% for post in site.posts limit: 3 %}
          {% if post.title == "Alfred Hitchcock Notorious (1946)" %}
            <a href="{{ post.url }}">
            <div class="film">
              <img class="film-image" src="{{ post.image }}">
              <div class="title"><h3> {{ post.title }} </h3></div>
            </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</body>
<footer>
  {% include footer.html %}
</footer>
</html>