---
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include basic-head.html %}
</head>
<body>
  {% include header.html %}
  {% include nav-bar.html %}
  <div class="about-cont">
    <h1>Privacy Policy</h1>
    <p>
      Films, like books, can remain beautiful and relevant for decades after they were first released.
      Even so, it can be hard to find a place to watch old movies. Some theaters show classic movies from time to time,
      but those events are rare and often expensive. Cinema Classics Online is an alternative for people who want to
      watch old movies for free in the comfort of their own home. Many classic films have recently come into the public
      domain, which means that they can viewed freely by anyone who wants to see them. Cinema Classics Online has taken
      advantage of that recent change to give people a chance to experience a variety of classic movies for free over
      the Internet.
    </p>
    <p class="extra">
      Cinema Classics Online offers a great opportunity to experience the past that simply was not available even a
      decade ago. People who remember these films from when they were in the theaters can relive the past and help pass
      it on to the next generation, while younger people can take this opportunity to study and appreciate the
      cinematic art of the past. The classic films are free, easy to view, and waiting for whoever wants to watch them.
    </p>
  </div>
</body>
<footer>
  {% include footer.html %}
</footer>
</html>