---

title: About Us - La Filmothèque

---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include basic-head.html %}
  <title>La Filmothèque Store</title>
</head>
<body>
  {% include header.html %}
  {% include nav-bar.html %}
  <div class="store-cont">
    <div class="store-info">
      <h1>La Filmothèque Store</h1>
      <p>
        Welcome to La Filmothèque Store! The store is a wonderful place: it helps us raise money to continue investing
        in the website, and it also helps promote some of the good people who keep the industry going.
        It is also a place to sit back, grab a coffee, and do some shopping!
      </p>
    </div>
    <div class="store-tabs">
      <div class="tab selected">
        Recommended items
      </div>
      <div class="tab">
        DVD & Bluray
      </div>
      <div class="tab">
        Printed mugs
      </div>
    </div>
    <div class="store-items">
    </div>
  </div>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>