---
---

@import url("reset.css");

$nav-background: #eaeaea;
$nav-text: #888;
$darker-green: #1E7B85;
$green-font: #669E99;
$padding: 26px;

$light-background: #A7D2CE;
$light-green: darken($light-background, 10);

$feature-background: #A76583;
$banner-background: #8C4465;

$play-green: #1E7B85;
$play-mark: $banner-background;
$text-medium: #555;
$text-dark: #231F20;
$film-padding: 3px;

@mixin kavon($size: 6px, $top: 13px, $right: 13px, $color: $nav-text, $background: $nav-background) {
  &:before {
    content: '';
    position: absolute;
    top: $top + 2px;
    right: $right;
    width: $size;
    height: $size;
    background: $color;
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    position: absolute;
    top: $top;
    right: $right;
    width: $size;
    height: $size;
    background: $background;
    transform: rotate(45deg);
  }
}

@mixin dropdown-menu($top: 39px) {
  cursor: pointer;

  &:hover {
    .menu {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .menu {
    position: absolute;
    transition: opacity 0.1s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    cursor: default;
    top: $top;
    left: 0;
    min-width: 190px;
    padding: 10px 0;
    background: white;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 14px;
    line-height: 30px;

    li {
      cursor: pointer;
      padding: 0 20px;
      //transition: background-color 0.2s ease;

      &:hover {
        background: lighten(#A7D2CE, 16);
      }
    }
  }
}

@mixin play-mark($width) {
  transition: opacity 0.1s ease;

  .play-mark {
    transition: opacity 0.1s ease;
    position: absolute;
    opacity: .75;
    top: 50%;
    left: 50%;
    margin-top: -0.5 * $width * 0.85;
    margin-left: -0.5 * $width;
    width: $width;
    height: $width * 0.8;
    background: rgba($play-mark, 1);
    border-radius: 2px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -0.26 * $width;
    margin-left: -0.5 * $width * 0.3;
    border-top: 0.23 * $width solid transparent;
    border-bottom: 0.23 * $width solid transparent;
    border-left: 0.37 * $width solid rgba(white, 0.7);
  }

  &:hover {
    opacity: 0.94;

    .play-mark {
      opacity: 1;
    }
  }
}

%film-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: white;
  text-shadow: 0 0 10px rgba(black, 0.4);
  line-height: 20px;

  .title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  .description {
    font-size: 13px;
  }
}

%bold-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  //font-family: 'Helvetice', Arial, sans-serif;
  font-family: 'Open Sans', sans-serif;font-family: 'Open Sans', sans-serif;
  background: #eaeaea;
}

.content,
.top-content {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-left: $padding;
  padding-right: $padding;
}

.header {
  font-size: 32px;
  color: #048A95;
  background: white;
  padding-left: $padding;
  padding-right: $padding;

  .logo {
    margin-bottom: -5px;
    display: inline-block;
    background-image: url(images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 370px;
    height: 90px;
  }
}

.nav-bar {
  background: $nav-background;
  color: $text-dark;
  padding: 0 20px;
  z-index: 100;
  height: 39px;

  .controls {
    position: absolute;
    display: block;
    top: 0px;
    right: 30px;

    .search {
      display: inline-block;

      input.search-input {
        width: 39px;
        height: 39px;
        //padding: 0 8px 0  26px;
        padding: 4px 0;
        color: transparent;
        font-size: 14px;
        background: none;
        margin: 0px;
        transition: width 0.2s ease, background 0.2s ease, padding 0.2s ease;
        transition-delay: 0.2s;

        &:hover,
        &:focus {
          background: #dadada;
          width: 200px;
          padding: 4px 8px 4px 32px;
          color: $text-dark;
          transition-delay: 0s;

          .icon svg path {

          }

          &::-webkit-input-placeholder {
            color: rgba($text-dark, 0.3);
            transition: color 0.2s 0.1s ease;
          }

          &:-moz-placeholder {
            /* Firefox 18- */
            color: rgba($text-dark, 0.3);
            transition: color 0.2s 0.1s ease;
          }

          &::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba($text-dark, 0.3);
            transition: color 0.2s 0.1s ease;
          }

          &:-ms-input-placeholder {
            color: rgba($text-dark, 0.3);
            transition: color 0.2s 0.1s ease;
          }
        }

        &::-webkit-input-placeholder {
          color: rgba($text-dark, 0.0);
          transition: color 0.1s ease;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(white, 0.0);
          transition: color 0.1s ease;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(white, 0.0);
          transition: color 0.1s ease;
        }

        &:-ms-input-placeholder {
          color: rgba(white, 0.0);
          transition: color 0.1s ease;
        }
      }

      .icon {
        position: absolute;
        top: 11px;
        left: 7px;
        pointer-events: none;

        svg {
          width: 18px;
          height: 18px;

          path {
            fill: $nav-text;
          }
        }
      }
    }

    .social {
      display: inline-block;
      margin: 0 2px;
      border-radius: 3px;
      padding: 11px 8px;
      height: 39px;

      svg {
        width: 18px;
        height: 18px;

        path {
          fill: $nav-text;
        }
      }
    }
  }

  .drop-menus .drop-menu {
    display: inline-block;
    @include dropdown-menu;

    .label {
      @include kavon;
      display: inline-block;
      padding: 13px 28px 13px 6px;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}

.thumbnails {
  margin-left: -4px;
  margin-right: -4px;
  padding: $padding;
  font-size: 0;

  .thumbnail {
    display: inline-block;
    width: 25%;
    padding: 4px 6px 16px 6px;
  }

  .film-image {
    height: 170px;
    display: block;
    background-size: cover;
    background-position: center center;
    @include play-mark(36px);
  }

  .film-description {
    width: 100%;
    padding: 20px 16px;
    background: white;
    font-size: 14px;
    line-height: 17px;
    color: $text-medium;
    height: 200px;

    .excerpt {
      height: 138px;
      overflow: hidden;
    }

    .title {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: 17px;
      text-transform: uppercase;
      color: $green-font;
      margin-bottom: 10px;
    }
  }
}

.inner-nav {
  background: $light-background;
  height: 45px;


  .title {
    color: darken($green-font, 10);
    padding-left: $padding;
    font-size: 20px;
    line-height: 45px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
  }

  .controls {
    position: absolute;
    top: 8px;
    right: 40px;

    .sort-by {
      @include dropdown-menu(27px);
      @include kavon(7px, 6px, 10px, darken($green-font, 16), $light-green);
      height: 27px;
      font-size: 14px;
      line-height: 27px;
      background: $light-green;
      color: darken($green-font, 16);
      padding: 0 26px 0  8px;

      .menu {
        left: auto;
        right: 0;
      }
    }
  }
}

.left-content {
  width: 62%;
}

.film-cont {
  background: white;
  display: inline-block;
  margin-bottom: 10px;

  iframe {

  }

  .info {
    padding: $padding;

    h2 {
      @extend %bold-font;
      color: $green-font;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 14px;
    }

    h3 {
      margin-bottom: 14px;
    }

    .details {
      width: 100%;
      color: $text-medium;
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 16px;
    }
  }
}

.right-bar {
  position: absolute;
  top: 0;
  left: 63%;
  width: 24%;

  .side-title {
    @extend %bold-font;
    color: $green-font;
    font-size: 18px;
    margin-bottom: 12px;
  }

  .film {
    @include play-mark(36px);
    width: 100%;
    height: 180px;
    margin-bottom: 10px;

    .info {
      @extend %film-overlay;
    }

    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
  }
}

.panel {
  width: 100%;
  background: white;
  height: 240px;
  margin-bottom: 10px;
}

.main {
  min-height: 800px;
}

.element-title {
  @extend %bold-font;
  font-size: 22px;
  color: $green-font;
  line-height: 30px;
  margin-bottom: 6px;
}

.home-element {
  margin-top: 14px;
  padding-top: 10px;
}

.film-of-the-day {
  font-size: 0;
  height: 27vw;
  max-height: 350px;

  .film {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    width: 50%;
    height: 100%;
    @include play-mark(54px);

    .film-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
  }

  .description {
    width: 50%;
    height: 100%;
    display: inline-block;
    background: $feature-background;

    .info {
      position: absolute;
      display: inline-block;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 40px 50px 40px;
    }

    .title {
      @extend %bold-font;
      letter-spacing: 0.03em;
      font-size: 36px;
      line-height: 28px;
      margin-bottom: 18px;
      color: white;
    }

    .synopsis {
      font-size: 13px;
      color: lighten($feature-background, 30);
      line-height: 21px;
      max-width: 400px;
    }

    .banner {
      background: $banner-background;
      @extend %bold-font;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      font-size: 18px;
      padding: 14px 18px;
      color: rgba(white, 0.8);
    }
  }
}

.recommended {
  font-size: 0;
  margin-left: -1 * $film-padding;
  margin-right: -1 * $film-padding;

  .thumbnail-cont {
    display: inline-block;
    width: 25%;
    height: 13.5vw;
  }

  .film {
    position: absolute;
    top: $film-padding;
    bottom: $film-padding;
    left: $film-padding;
    right: $film-padding;
    font-size: 15px;
    overflow: hidden;
    @include play-mark(36px);

    .film-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
    }

    .info {
      @extend %film-overlay;
    }
  }
}

.home-categories {
  font-size: 0;
  margin-left: -1 * $film-padding;
  margin-right: -1 * $film-padding;

  .thumbnail-cont {
    display: inline-block;
    width: 16.6%;
    height: 9.375vw;
    overflow: hidden;

    &:hover {
      .item-image:after {
        opacity: 1;
      }
    }
  }

  .category {
    position: absolute;
    top: $film-padding;
    bottom: $film-padding;
    left: $film-padding;
    right: $film-padding;

    .item-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;

      &:after {
        transition: opacity 0.1s ease;
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(white, 0.08);
      }
    }

    .info {
      @extend %film-overlay;
    }
  }
}
