---
---

@import url("reset.css");

$nav-background: #eaeaea;
$nav-text: #888;
$darker-green: #1E7B85;
$green-font: #669E99;
$padding: 26px;

$light-background: #A7D2CE;
$light-green: darken($light-background, 10);

//$feature-background: #B7698D;
$feature-background: #3F8E87;
$banner-background: #8C4465;

$play-green: #1E7B85;
$text-medium: #666;
$text-dark: #231F20;
$film-padding: 3px;

@mixin kavon($size: 6px, $top: 13px, $right: 14px, $color: #98667E, $background: $nav-background) {
  &:before {
    content: '';
    position: absolute;
    top: $top + 2px;
    right: $right;
    width: $size;
    height: $size;
    background: $color;
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    position: absolute;
    top: $top;
    right: $right;
    width: $size;
    height: $size;
    background: $background;
    transform: rotate(45deg);
  }
}

@mixin dropdown-menu($top: 39px) {
  cursor: pointer;

  &:hover {
    .menu {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .menu {
    position: absolute;
    transition: opacity 0.1s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    cursor: default;
    top: $top;
    left: 0;
    min-width: 190px;
    padding: 10px 0;
    background: white;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 14px;
    line-height: 30px;

    li {
      cursor: pointer;
      padding: 0 20px;
      //transition: background-color 0.2s ease;

      &:hover {
        background: lighten(#A7D2CE, 16);
      }
    }
  }
}

@mixin play-mark($width) {
  transition: opacity 0.1s ease;

  .play-mark {
    transition: opacity 0.1s ease;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    margin-top: -0.5 * $width * 1.2;
    margin-left: -0.5 * $width * 1.2;
    width: $width * 1.2;
    height: $width * 1.2;
    background: #64A7A0;
    border-radius: 80px;
    z-index: 10;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      margin-top: -0.28 * $width;
      margin-left: -0.35 * $width * 0.5;
      border-top: 0.30 * $width solid transparent;
      border-bottom: 0.30 * $width solid transparent;
      border-left: 0.46 * $width solid rgba(white, 1);
    }
  }

  &:after {
    content: '';
    position: absolute;
    transition: opacity 0.1s ease;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
  }

  &:hover {
    &:after {
      opacity: 0.04;
    }

    .play-mark {
      opacity: 0.8;
    }
  }
}

%film-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: white;
  text-shadow: 0 0 10px rgba(black, 0.4);
  line-height: 18px;

  .title {
    //font-family: 'Open Sans Condensed', sans-serif;
    //font-family: tenor-sans, sans-serif;
    //letter-spacing: -0.02em;
    text-transform: none;
    font-weight: 600;
    font-size: 13px;
  }

  .description {
    font-size: 13px;
    opacity: 0.7;
  }
}

%bold-font {
  //font-family: pt-sans, sans-serif;
  //font-family: abel, sans-serif;
  font-family: tenor-sans, sans-serif; //letter-spacing: -0.02em;
  text-transform: uppercase;
}

body {
  //font-family: 'Helvetice', Arial, sans-serif;
  font-family: 'Open Sans', sans-serif;
  //font-family: tenor-sans, sans-serif;
  background: $nav-background;
}

.content,
.top-content {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.narrow-content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-left: $padding;
  padding-right: $padding;
}

.header {
  font-size: 32px;
  color: #048A95;
  background: white;
  padding-left: $padding;
  padding-right: $padding;

  .logo {
    margin-bottom: -5px;
    display: inline-block;
    background-image: url(images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 370px;
    height: 90px;
  }

  .tagline {
    display: inline-block;
    font-size: 15px;
    vertical-align: bottom;
    margin-bottom: 23px;
    font-family: tenor-sans, sans-serif;
    color: #b5b5b5;
    text-transform: uppercase;
    margin-left: 1px;
  }
}

.nav-bar {
  background: $nav-background;
  color: $text-dark;
  padding: 0 20px;
  z-index: 100;
  height: 40px;

  .controls {
    position: absolute;
    display: block;
    top: 0;
    right: 0;

    .search {
      display: inline-block;

      input.search-input {
        width: 39px;
        height: 40px;
        //padding: 0 8px 0  26px;
        padding: 4px 0;
        color: transparent;
        font-size: 14px;
        background: none;
        margin: 0px;
        transition: width 0.2s ease, background 0.2s ease, padding 0.2s ease;
        transition-delay: 0.2s;

        &:hover,
        &:focus {
          background: #dadada;
          width: 200px;
          padding: 4px 8px 4px 32px;
          color: $text-dark;
          transition-delay: 0s;

          .icon svg path {

          }

          &::-webkit-input-placeholder {
            color: rgba($text-dark, 0.3);
            transition: color 0.2s 0.1s ease;
          }

          &:-moz-placeholder {
            /* Firefox 18- */
            color: rgba($text-dark, 0.3);
            transition: color 0.2s 0.1s ease;
          }

          &::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba($text-dark, 0.3);
            transition: color 0.2s 0.1s ease;
          }

          &:-ms-input-placeholder {
            color: rgba($text-dark, 0.3);
            transition: color 0.2s 0.1s ease;
          }
        }

        &::-webkit-input-placeholder {
          color: rgba($text-dark, 0.0);
          transition: color 0.1s ease;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(white, 0.0);
          transition: color 0.1s ease;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(white, 0.0);
          transition: color 0.1s ease;
        }

        &:-ms-input-placeholder {
          color: rgba(white, 0.0);
          transition: color 0.1s ease;
        }
      }

      .icon {
        position: absolute;
        top: 11px;
        left: 7px;
        pointer-events: none;

        svg {
          width: 18px;
          height: 18px;

          path {
            fill: #794960;
          }
        }
      }
    }

    .social {
      display: inline-block;
      margin: 0 2px;
      border-radius: 3px;
      padding: 11px 8px;
      height: 39px;

      svg {
        width: 18px;
        height: 18px;

        path {
          fill: #794960;
        }
      }
    }
  }

  .drop-menus .drop-menu {
    display: inline-block;
    @include dropdown-menu;

    .label {
      @include kavon;
      display: inline-block;
      padding: 13px 28px 15px 6px;
      font-size: 13px;
      text-transform: uppercase;
      color: #98667E;
      //font-family: tenor-sans, sans-serif;
      //letter-spacing: -0.02em;
    }
  }
}

.thumbnails {
  margin-left: -4px;
  margin-right: -4px;
  padding: 20px $padding 0 $padding;
  font-size: 0;

  .thumbnail {
    display: inline-block;
    width: 25%;
    padding: 4px 6px 20px 6px;
  }

  .film-image {
    height: 170px;
    display: block;
    background-size: cover;
    background-position: center center;
    @include play-mark(36px);
  }

  .film-description {
    width: 100%;
    padding: 20px 16px;
    background: white;
    font-size: 13px;
    line-height: 18px;
    color: $text-medium;
    height: 196px;

    .excerpt {
      height: 128px;
      overflow: hidden;
    }

    .title {
      @extend %bold-font;
      font-size: 20px;
      text-transform: none;
      color: $green-font;
      margin-bottom: 10px;
    }
  }
}

.inner-nav {
  background: #A7D2CE;
  $inner-nav-height: 56px;
  height: $inner-nav-height;

  .title {
    color: darken($feature-background, 20);
    font-size: 20px;
    line-height: $inner-nav-height;
    @extend %bold-font;
    text-transform: none;

    .category {
      color: rgba(darken($feature-background, 20), 0.5);
    }
  }

  .controls {
    position: absolute;
    top: 0;
    right: $padding;

    .sort-by {
      display: inline-block;
      @include dropdown-menu($inner-nav-height);
      @include kavon(7px, 20px, 12px, darken($feature-background, 24), #A7D2CE);
      height: $inner-nav-height;
      font-size: 14px;
      line-height: $inner-nav-height;
      color: darken($feature-background, 24);
      padding: 0 28px 0  10px;

      .menu {
        left: auto;
        right: 0;
      }
    }

    .search {
      display: inline-block;
      top: 0;
      right: 0;

      .search-input {
        height: $inner-nav-height;
        font-size: 14px;
        background: transparent;
        width: 180px;
        padding: 4px 8px 4px 32px;
        color: $text-dark;
        transition: background-color 0.1s ease;

        .icon svg path {

        }

        &::-webkit-input-placeholder {
          color: rgba(darken($feature-background, 24), 1);
          transition: color 0.1s ease;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(darken($feature-background, 24), 1);
          transition: color 0.1s ease;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(darken($feature-background, 24), 1);
          transition: color 0.1s ease;
        }

        &:-ms-input-placeholder {
          color: rgba(darken($feature-background, 24), 1);
          transition: color 0.1s ease;
        }

        &:hover,
        &:focus {
          background: lighten(#A7D2CE, 6);
          &::-webkit-input-placeholder {
            color: $green-font;
            transition: color 0.1s ease;
          }

          &:-moz-placeholder {
            color: $green-font;
            transition: color 0.1s ease;
          }

          &::-moz-placeholder {
            color: $green-font;
            transition: color 0.1s ease;
          }

          &:-ms-input-placeholder {
            color: $green-font;
            transition: color 0.1s ease;
          }
        }
      }

      .icon {
        position: absolute;
        top: 20px;
        left: 7px;
        pointer-events: none;

        svg {
          width: 18px;
          height: 18px;

          path {
            fill: #794960;
          }
        }
      }
    }
  }
}

.left-content {
  width: 68%;
}

.film-cont {
  background: white;
  display: inline-block;
  margin-bottom: 10px;

  .info {
    padding: 34px 30px;

    h2 {
      @extend %bold-font;
      text-transform: none;
      color: #A86182;
      font-size: 34px;
      margin-bottom: 14px;

      .year {
        color: lighten(#A86182, 22);
      }
    }

    h3 {
      margin-bottom: 10px;
      font-size: 13px;
      color: lighten(#A86182, 16);

      span {
        margin-right: 6px;
      }

      &.more-info {
        margin-bottom: 20px;
      }

      .icon {
        width: 19px;
        height: 19px;
        display: inline-block;
        margin-top: -4px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .details {
      width: 100%;
      color: #846071;
      font-size: 14px;
      line-height: 19px;

      p {
        margin-bottom: 12px;
      }

      .imdb-link {
        color: $green-font;
      }
    }
  }

  .video-cover {
    width: 100%;
    height: 27vw;
    background-size: cover;
    background-position: center center;
    @include play-mark(54px);
    cursor: pointer;

    .play-mark {
      opacity: 0.6;
    }
  }
}

.right-bar {
  position: absolute;
  top: 0;
  left: 68%;
  width: 32%;
  padding: 0 0 0 15px;

  .side-title {
    @extend %bold-font;
    color: #777;
    font-size: 20px;
    padding: 13px 10px;
    margin: 0 3px -3px 3px;
    background: white;
  }

  font-size: 0;
  //margin: -1 * $film-padding;

  .thumbnail-cont {
    display: inline-block;
    width: 100%;
    height: 160px;
  }

  .film {
    position: absolute;
    top: $film-padding;
    bottom: $film-padding;
    left: $film-padding;
    right: $film-padding;
    font-size: 15px;
    overflow: hidden;
    @include play-mark(36px);

    .film-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
    }

    .info {
      @extend %film-overlay;
    }
  }
}

.panel {
  width: 100%;
  background: white;
  height: 240px;
  margin-bottom: 10px;
}

.main {
  min-height: 800px;
}

.element-title {
  @extend %bold-font;
  font-size: 27px;
  color: #6FB3AD;
  margin-bottom: 10px;
  letter-spacing: -0.04em;
}

.home-element {
  margin-top: 30px;
}

.film-of-the-day {
  font-size: 0;
  height: 27vw;
  max-height: 370px;

  .film {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    width: 50%;
    height: 100%;
    @include play-mark(54px);

    .play-mark {
      opacity: 0.6;
    }

    .film-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
    }
  }

  .description {
    width: 50%;
    height: 100%;
    display: inline-block;
    background: $feature-background;

    .info {
      position: absolute;
      display: inline-block;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 40px 50px 40px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 13px;
      color: lighten($feature-background, 30);
      display: inline-block;

      span {
        margin-right: 6px;
      }

      &.more-info {
        margin-bottom: 18px;
      }

      .icon {
        width: 19px;
        height: 19px;
        display: inline-block;
        margin-top: -4px;

        svg {
          width: 100%;
          height: 100%;

          path {
            //fill: darken($feature-background, 26);
            fill: lighten($feature-background, 40);
          }
        }
      }
    }

    .title {
      @extend %bold-font;
      text-transform: none;
      //letter-spacing: 0.03em;
      font-size: 39px;
      line-height: 45px;
      margin-bottom: 16px;
      color: white;

      span.year {
        color: darken($feature-background, 24);
      }
    }

    .synopsis {
      font-size: 13px;
      color: lighten($feature-background, 30);
      line-height: 21px;
      max-width: 600px;
    }

    .banner-2 {
      @extend %bold-font;
      color: lighten($feature-background, 26);
      font-size: 21px;
      margin-bottom: 14px;
    }
  }
}

.recommended {
  font-size: 0;
  margin: -1 * $film-padding;

  .thumbnail-cont {
    display: inline-block;
    width: 25%;
    height: 13.5vw;
  }

  .film {
    position: absolute;
    top: $film-padding;
    bottom: $film-padding;
    left: $film-padding;
    right: $film-padding;
    font-size: 15px;
    overflow: hidden;
    @include play-mark(36px);

    .film-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
    }

    .info {
      @extend %film-overlay;
    }
  }
}

.home-categories {
  font-size: 0;
  margin: -1 * $film-padding;

  .thumbnail-cont {
    display: inline-block;
    width: 16.6666%;
    height: 13.5vw;
    overflow: hidden;

    &:hover {
      .item-image:after {
        opacity: 1;
      }
    }
  }

  .category {
    position: absolute;
    top: $film-padding;
    bottom: $film-padding;
    left: $film-padding;
    right: $film-padding;

    .item-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;

      &:after {
        transition: opacity 0.1s ease;
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($play-green, 0.27);
      }
    }

    .info {
      @extend %film-overlay;

      .title {
        //font-size: 16px;
        //font-family: tenor-sans, sans-serif;
      }
    }
  }
}

.about-cont {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 30px 26px;
  min-height: 450px;
  margin-bottom: 250px;

  h1 {
    font-size: 32px;
    text-align: center;
    color: darken($green-font, 20);
    margin-bottom: 18px;
    font-family: tenor-sans, sans-serif;
  }

  p {
    font-size: 14px;
    line-height: 23px;
    color: darken($green-font, 20);
    margin-bottom: 16px;

    &.extra {
      //font-style: italic;
    }
  }
}

.contact-form {
  font-size: 14px;

  label {
    text-transform: uppercase;
    font-size: 12px;
    color: darken($green-font, 20);
  }

  input, textarea {
    display: block;
    border: none;
    background: lighten(#A7D2CE, 15);
    padding: 6px 8px;
    width: 100%;
    color: #444;
    margin-bottom: 12px;
    margin-top: 4px;
  }

  input[type="submit"] {
    min-width: 120px;
    width: auto;
    background: $green-font;
    font-size: 14px;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background: darken($green-font, 10);
    }
  }
}

.footer {
  background: #aaa;
  margin-top: 40px;

  .content {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .left-cont {
    font-size: 14px;
    line-height: 22px;

    .links {
      a {
        color: white;
        margin-right: 8px;
        cursor: pointer;

        &:hover {
          color: darken($banner-background, 4);
          transition: color 0.1s ease;
        }
      }
    }

    .info {
      span {
        margin-right: 8px;
        color: white;
      }

      a:hover {
        color: darken($banner-background, 4);
        transition: color 0.1s ease;
      }
    }
  }

  .right-cont {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: $feature-background;
    padding-left: $padding;
    padding-right: $padding;

    .icon {
      display: inline-block;
      padding: 6px 8px;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;

      &:hover {
        svg path {
          fill: darken($banner-background, 7);
        }
      }

      svg {
        width: 30px;
        height: 30px;

        path {
          fill: white;
          transition: fill 0.1s ease;
        }
      }
    }
  }
}