<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:200,500,700,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Martel:400,300,200' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic' rel='stylesheet' type='text/css'>
<script src="//use.edgefonts.net/advent-pro:n1,n2,n3,n4,n5,n6,n7;lato.js"></script>

<link rel="stylesheet" type="text/css" href="/style.css">
<script type="text/javascript">
  <!--
  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if(e.style.display == 'block')
      e.style.display = 'none';
    else
      e.style.display = 'block';
  }
  //-->
</script>