<div class="header">
  <div class="top-content">
    <a href="/">
      <div class="logo">
      </div>
    </a>
    <div class="info">A Public Domain Film Library. <a>Our Twitter</a></div>
    <div class="right-cont">
      <div class="icon search">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
          <title>search</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="search" sketch:type="MSArtboardGroup" fill="#000000">
              <path d="M215.982742,193.664813 L204.079847,193.664813 L199.616844,189.201227 C214.495464,172.834746 223.422635,150.516817 223.422635,126.711026 C223.422052,73.1479962 180.274056,30 126.711026,30 C73.1479962,30 30,73.1479962 30,126.711026 C30,180.274056 73.1479962,223.422052 126.711026,223.422052 C150.516817,223.422052 172.834746,214.49488 189.201227,199.616261 L193.664813,204.079263 L193.664813,215.982159 L268.05791,290.375839 L290.375839,268.05791 L215.982742,193.664813 L215.982742,193.664813 Z M126.711026,193.664813 C89.5144775,193.664813 59.7572387,163.907574 59.7572387,126.711026 C59.7572387,89.5144775 89.5144775,59.7572387 126.711026,59.7572387 C163.907574,59.7572387 193.664813,89.5144775 193.664813,126.711026 C193.664813,163.907574 163.907574,193.664813 126.711026,193.664813 L126.711026,193.664813 Z" id="Shape" sketch:type="MSShapeGroup"></path>
            </g>
          </g>
        </svg>
      </div>
      <div class="drop-menu unified">
        <div class="label">
          Menu
        </div>
        <ul class="menu">
          <li class="category-name">
            Genres
          </li>
          {% for genre in site.genres %}
          <a href="{{ genre.url }}#sort=Recommended"">
          <li>
            {{ genre.title }}
          </li>
          </a>
          {% endfor %}
          <li class="category-name">
            Decades
          </li>
          {% for decade in site.decades %}
          <a href="{{ genre.url }}#sort=Recommended"">
          <li>
            {{ decade.title }}
          </li>
          </a>
          {% endfor %}
          <li class="category-name">
            Directors
          </li>
          {% for director in site.directors %}
          <a href="{{ genre.url }}#sort=Recommended"">
          <li>
            {{ director.title }}
          </li>
          </a>
          {% endfor %}
          <li class="category-name">
            Countries
          </li>
          {% for country in site.countries %}
          <a href="{{ genre.url }}#sort=Recommended"">
          <li>
            {{ country.title }}
          </li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>