<div class="home-element">
  <div class="element-title">
    <h2>
      Films by genre
    </h2>
  </div>
  <div class="home-categories">
    {% for genre in site.genres limit: 12 %}
    <a class="thumbnail-cont" href="{{ genre.url }}#sort=Recommended">
      <div class="category">
        <div class="item-image lazy" data-original="{{ genre.feature-image }}" style="background-image: url('/images/transparent.png')"></div>
        <div class="info">
          <div class="title"><h3> {{ genre.title }} </h3></div>
        </div>
      </div>
    </a>
    {% endfor %}

  </div>
</div>
