<div class="home-element">
  <div class="element-title">

    <h2>
      Recommended films
    </h2>
  </div>
  <div class="recommended">
    {% for film in site.films limit: 8 %}
    <a class="thumbnail-cont" href="{{ film.url }}">
      <div class="film">
        <div class="film-image" style="background-image: url({{ film.image }})"></div>
        <div class="info">
          <h3 class="title"> {{ film.title }} ({{ film.year }}) </h3>
          <h4 class="description"> {{ film.director }}, {{ film.country }} </h4>
        </div>
        <div class="play-mark"></div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>