<div class="right-bar">
  <div class="right-ad hide-our-ads">
  </div>

  <div class="side-title">
    Related Films
  </div>
  {% assign film = film1 %}
  <a class="thumbnail-cont" href="{{ film.url }}">
    <div class="film">

      {% if film.image-offset != null %}
      <div class="film-image lazy"  data-original="{{ film.image }}" style="background-image: url('/images/transparent.png'); background-position-y: {{ film.image-offset }}%;"></div>
      {% else %}
      <div class="film-image lazy"  data-original="{{ film.image }}" style="background-image: url('/images/transparent.png')"></div>
      {% endif %}

      <div class="info">
        <h3 class="title"> {{ film.title }} ({{ film.year }}) </h3>
        <h4 class="description"> {{ film.director | join: ', ' }}, {{ film.country | join: ' / ' }} </h4>
      </div>
      <div class="play-mark"></div>
    </div>
  </a>


  {% assign film = film2 %}
  <a class="thumbnail-cont" href="{{ film.url }}">
    <div class="film">

      {% if film.image-offset != null %}
      <div class="film-image lazy"  data-original="{{ film.image }}" style="background-image: url('/images/transparent.png'); background-position-y: {{ film.image-offset }}%;"></div>
      {% else %}
      <div class="film-image lazy"  data-original="{{ film.image }}" style="background-image: url('/images/transparent.png')"></div>
      {% endif %}

      <div class="info">
        <h3 class="title"> {{ film.title }} ({{ film.year }}) </h3>
        <h4 class="description"> {{ film.director | join: ', ' }}, {{ film.country | join: ' / ' }} </h4>
      </div>
      <div class="play-mark"></div>
    </div>
  </a>


  {% assign film = film3 %}
  <a class="thumbnail-cont" href="{{ film.url }}">
    <div class="film">

      {% if film.image-offset != null %}
      <div class="film-image lazy"  data-original="{{ film.image }}" style="background-image: url('/images/transparent.png'); background-position-y: {{ film.image-offset }}%;"></div>
      {% else %}
      <div class="film-image lazy"  data-original="{{ film.image }}" style="background-image: url('/images/transparent.png')"></div>
      {% endif %}

      <div class="info">
        <h3 class="title"> {{ film.title }} ({{ film.year }}) </h3>
        <h4 class="description"> {{ film.director | join: ', ' }}, {{ film.country | join: ' / ' }} </h4>
      </div>
      <div class="play-mark"></div>
    </div>
  </a>
</div>