<div class="store-item">
  <div class="image">
    <img src="{{ item.image-link }}">
  </div>
  <div class="info">
    <h3 class="title">
      {{ item.title }}
    </h3>
    <div class="rating">
      Amazon rating:
      {% assign cover-width = 5 | minus: item.rating | times: 20 %}
      <div class="stars">&#9733; &#9733; &#9733; &#9733; &#9733;<div class="cover" style="width: {{ cover-width }}%"></div></div>
    </div>
    <p class="description">
      {{ item.description }}
    </p>
    <a class="action" href="{{ item.link }}">
      Buy on Amazon - {{ item.price }}
    </a>
  </div>
</div>