{% if item.type == "Amazon" %}
<div class="store-item">
  <div class="image">
    <div class="img-cont">
      <a href="http://www.amazon.com/dp/{{ item.asin }}/ref=as_li_ss_tl?ie=UTF8&fpl=fresh&redirect=true&ref_=s9_cartx_gw_g15_i1_r&linkCode=ll1&tag=lafilmotheque-20&linkId=c5540e3f4c1c81479463bb8590ad9f20">
        <img src="{{ item.image-link }}">
      </a>
    </div>

  </div>
  <div class="info">
    <h3 class="title">
      <a href="http://www.amazon.com/dp/{{ item.asin }}/ref=as_li_ss_tl?ie=UTF8&fpl=fresh&redirect=true&ref_=s9_cartx_gw_g15_i1_r&linkCode=ll1&tag=lafilmotheque-20&linkId=c5540e3f4c1c81479463bb8590ad9f20">
      {{ item.title }}
      </a>
    </h3>
    <div class="rating">
      Rating:
      {% assign cover-width = 5 | minus: item.rating | times: 20 %}
      <div class="stars">&#9733; &#9733; &#9733; &#9733; &#9733;<div class="cover" style="width: {{ cover-width }}%"></div></div>
    </div>
    <p class="description">
      {{ item.description }}
    </p>
    <a class="action" href="http://www.amazon.com/dp/{{ item.asin }}/ref=as_li_ss_tl?ie=UTF8&fpl=fresh&redirect=true&ref_=s9_cartx_gw_g15_i1_r&linkCode=ll1&tag=lafilmotheque-20&linkId=c5540e3f4c1c81479463bb8590ad9f20">
      Buy on Amazon: &nbsp;{{ item.price }}
    </a>
  </div>
</div>
{% endif %}

{% if item.type == "Zazzle" %}
<div class="store-item poster">
  <div class="image">
    <div class="img-cont">
      <a href="http://www.zazzle.com/{{ item.link }}">
        <img src="{{ item.image-link }}">
      </a>
    </div>
  </div>

  <div class="info">
    <h3 class="title">
      <a href="http://www.zazzle.com/{{ item.link }}">
        {{ item.title }}
      </a>
    </h3>
    <div class="rating">
      Rating:
      {% assign cover-width = 5 | minus: item.rating | times: 20 %}
      <div class="stars">&#9733; &#9733; &#9733; &#9733; &#9733;<div class="cover" style="width: {{ cover-width }}%"></div></div>
    </div>
    <p class="description">
      {{ item.description }}
    </p>
    <a class="action" href="http://www.zazzle.com/{{ item.link }}">
      Buy on Zazzle: &nbsp;{{ item.price }}
    </a>
  </div>
</div>
{% endif %}