<!DOCTYPE html>
<html lang="en">
<head>
    {% include basic-head.html %}
</head>
<body>
{% include header.html %}
{% include nav-bar.html %}
<div class="inner-nav">
    <div class="content">
        <div class="title"><span class="category">Country:</span> {{ page.title }}</div>
        <div class="controls">
            {% include search-input.html %}
            {% include sort-by.html %}
        </div>
    </div>
</div>
<div class="main thumbs">
    <div class="content">
        <div class="thumbnails">
            {% for film in site.films %}
            {% if film.country contains page.title %}
            {% include thumbnail.html %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</body>

<footer>
    {% include footer.html %}
</footer>
</html>

