<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
  {% if page.video-type != "archive" %}
  <script data-cfasync="false">
    (function(r,e,E,m,b){E[r]=E[r]||{};E[r][b]=E[r][b]||function(){
          (E[r].q=E[r].q||[]).push(arguments)};b=m.getElementsByTagName(e)[0];m=m.createElement(e);
      m.async=1;m.src=("file:"==location.protocol?"https:":"")+"//s.reembed.com/G-XLdkPX.js";
      b.parentNode.insertBefore(m,b)})("reEmbed","script",window,document,"api");
  </script>
  {% endif %}

  {% include basic-head.html %}
  <!-- Update your html tag to include the itemscope and itemtype attributes. -->
  <!-- Place this data between the <head> tags of your website -->
  <title>{{ page.title }} ({{ page.year }}) - La Filmothèque</title>

  {% if page.meta-description == null %}
  <meta name="description" content="{{ page.excerpt }}"/>
  {% else %}
  <meta name="description" content="{{ page.meta-description }}"/>
  {% endif %}

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{ page.title }}({{ page.year }}) - La Filmothèque">
  <meta itemprop="description" content="{{ page.excerpt }}">
  <meta itemprop="image" content="https://www.lafilmotheque.com{{ page.image }}">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@LaFilmotheque">
  <meta name="twitter:title" content="{{ page.title }} ({{ page.year }})">
  <meta name="twitter:description" content="{{ page.excerpt }}">
  <meta name="twitter:creator" content="@LaFilmotheque">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="https://www.lafilmotheque.com{{ page.image }}">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ page.title }} ({{ page.year }})" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lafilmotheque.com{{ page.url }}" />
  <meta property="og:image" content="https://www.lafilmotheque.com{{ page.image }}" />
  <meta property="og:description" content="{{ page.excerpt }}" />
  <meta property="og:site_name" content="La Filmothèque" />
  <!--<meta property="article:published_time" content="2013-09-17T05:59:00+01:00" />-->
  <!--<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />-->
  <!--<meta property="article:section" content="{{ page.genre | join: ', ' }}" />-->
  <!--<meta property="article:tag" content="{{ page.genre | join: ', ' }}" />-->
  <!--<meta property="fb:admins" content="Facebook numberic ID" />-->
</head>
<body>
{% include header.html %}
{% include nav-bar.html %}


  <div class="narrow-content">
    <div class="left-content">
      {% if page.video-2 != null %}
      <div class="part-title">
        {{ page.title }} ({{ page.year }}) - Part 1
      </div>
      {% endif %}
      <div class="film-cont" id="filmCont">
        {% if page.image-offset != null %}
        <div class="video-cover" id="videoCover" style="background-image: url({{ page.image }}); background-position-y: {{ page.image-offset }}%;">
          <div class="play-mark"></div>
        </div>
        {% else %}
        <div class="video-cover" id="videoCover" style="background-image: url({{ page.image }})">
          <div class="play-mark"></div>
        </div>
        {% endif %}
        <div id="thevideo">

          <!--<iframe src="{{ page.video }}autoplay=1" frameborder="0" allowfullscreen></iframe>-->


        </div>

        {% if page.video-2 == null %}
        <div class="info">
          <h2>{{ page.title }} <span class="year">{{ page.year }}</span></h2>
          <h3 class="basic-info">
            <div class="icon runtime">
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
              <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
                <defs></defs>
                <g id="Page-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g id="runtime" sketch:type="MSArtboardGroup" fill="#A86182">
                    <path d="M43,159.58 C43,223.862183 95.2978168,276.16 159.58,276.16 C223.862183,276.16 276.16,223.862183 276.16,159.58 C276.16,95.2978168 223.862183,43 159.58,43 C95.2978168,43 43,95.2978168 43,159.58 Z M159.58,251.353753 C108.976409,251.353753 67.8038469,210.185991 67.8038469,159.58 C67.8038469,108.974009 108.976409,67.8062466 159.58,67.8062466 C210.183591,67.8062466 251.356153,108.974009 251.356153,159.58 C251.356153,210.185991 210.183591,251.353753 159.58,251.353753 Z M167.945539,155.980371 L167.945539,92.9868547 L148.747515,92.9868547 L148.747515,165.579382 L158.346527,175.178394 L220.336946,175.178394 L220.336946,155.980371 L167.945539,155.980371 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                  </g>
                </g>
              </svg>
            </div>
            <span>{{ page.runtime }}</span>
            {% if page.genre contains "Silent" %}
              <div class="icon silent">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                  <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
                  <title>silent</title>
                  <defs></defs>
                  <g id="Page-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="silent" sketch:type="MSArtboardGroup" fill="#A86182">
                      <path d="M222.628927,146.110896 L199.095857,122.577826 L180.279745,141.393938 L203.812815,164.927007 L179.279745,189.460077 L198.094935,208.275266 L222.628004,183.742197 L247.45489,208.569082 L266.271002,189.75297 L241.444116,164.926085 L265.977186,140.393015 L247.161996,121.577826 L222.628927,146.110896 Z M141.093481,54 L75.7733702,123.375 L54,123.375 L54,206.625 L75.7733702,206.625 L141.093481,276 L162.866851,276 L162.866851,54 L141.093481,54 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <span>Silent</span>
            {% else %}
              <div class="icon talky">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                  <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
                  <title>talky</title>
                  <defs></defs>
                  <g id="Page-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="talky" sketch:type="MSArtboardGroup" fill="#A86182">
                      <path d="M141.093481,54 L75.7733702,123.375 L54,123.375 L54,206.625 L75.7733702,206.625 L141.093481,276 L162.866851,276 L162.866851,54 L141.093481,54 Z M187.043478,122.307692 L213.652174,122.307692 L213.652174,207.692308 L187.043478,207.692308 L187.043478,122.307692 Z M231.391304,105.230769 L258,105.230769 L258,224.769231 L231.391304,224.769231 L231.391304,105.230769 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <span>Talky</span>
            {% endif %}
            <div class="icon country">
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
              <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
                <title>country</title>
                <defs></defs>
                <g id="Page-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g id="country" sketch:type="MSArtboardGroup" fill="#A86182">
                    <path d="M183.693333,92.4705882 L178.6,70 L64,70 L64,261 L89.4666667,261 L89.4666667,182.352941 L160.773333,182.352941 L165.866667,204.823529 L255,204.823529 L255,92.4705882 L183.693333,92.4705882 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                  </g>
                </g>
              </svg>
            </div>
            <span>{{ page.country | join: ' / ' }}</span>
          </h3>
          <h3 class="more-info">
            {{ page.director | join: ', ' }} |
            {% for item in page.genre %}
            {% if item != "Silent" and item != "Short" %}
            {% if forloop.first != true %}
            ,
            {% endif %}
            {{ item }}
            {% endif %}
            {% endfor %}
          </h3>
          <div class="details">
            <p>{{ page.synopsis }}</p>
            {% if page.cast != null %}
            <p>Cast: {{ page.cast | join: ', ' }}.</p>
            {% endif %}
            <p class="imdb-link"><a href="{{ page.imdb }}">More info on IMDB</a></p>
          </div>

          {% include share-icons.html %}

        </div>
        {% endif %}
      </div>

      <!-- part 2 -->

      {% if page.video-2 != null %}
      <div class="part-title">
        {{ page.title }} ({{ page.year }}) - Part 2
      </div>
      <div class="film-cont" id="filmCont2">
        {% if page.image-offset != null %}
        <div class="video-cover" id="videoCover2" style="background-image: url({{ page.image-2 }}); background-position-y: {{ page.image-offset }}%;">
          <div class="play-mark"></div>
        </div>
        {% else %}
        <div class="video-cover" id="videoCover2" style="background-image: url({{ page.image-2 }})">
          <div class="play-mark"></div>
        </div>
        {% endif %}
        <div id="thevideo2">

          <!--<iframe src="{{ page.video }}autoplay=1" frameborder="0" allowfullscreen></iframe>-->


        </div>

        <div class="info">
          <h2>{{ page.title }} <span class="year">{{ page.year }}</span></h2>
          <h3 class="basic-info">
            <div class="icon runtime">
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
              <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
                <title>runtime</title>
                <defs></defs>
                <g id="Page-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g id="runtime" sketch:type="MSArtboardGroup" fill="#A86182">
                    <path d="M43,159.58 C43,223.862183 95.2978168,276.16 159.58,276.16 C223.862183,276.16 276.16,223.862183 276.16,159.58 C276.16,95.2978168 223.862183,43 159.58,43 C95.2978168,43 43,95.2978168 43,159.58 Z M159.58,251.353753 C108.976409,251.353753 67.8038469,210.185991 67.8038469,159.58 C67.8038469,108.974009 108.976409,67.8062466 159.58,67.8062466 C210.183591,67.8062466 251.356153,108.974009 251.356153,159.58 C251.356153,210.185991 210.183591,251.353753 159.58,251.353753 Z M167.945539,155.980371 L167.945539,92.9868547 L148.747515,92.9868547 L148.747515,165.579382 L158.346527,175.178394 L220.336946,175.178394 L220.336946,155.980371 L167.945539,155.980371 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                  </g>
                </g>
              </svg>
            </div>
            <span>{{ page.runtime }}</span>
            {% if page.genre contains "Silent" %}
            <div class="icon silent">
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
              <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
                <title>silent</title>
                <defs></defs>
                <g id="Page-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g id="silent" sketch:type="MSArtboardGroup" fill="#A86182">
                    <path d="M222.628927,146.110896 L199.095857,122.577826 L180.279745,141.393938 L203.812815,164.927007 L179.279745,189.460077 L198.094935,208.275266 L222.628004,183.742197 L247.45489,208.569082 L266.271002,189.75297 L241.444116,164.926085 L265.977186,140.393015 L247.161996,121.577826 L222.628927,146.110896 Z M141.093481,54 L75.7733702,123.375 L54,123.375 L54,206.625 L75.7733702,206.625 L141.093481,276 L162.866851,276 L162.866851,54 L141.093481,54 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                  </g>
                </g>
              </svg>
            </div>
            <span>Silent</span>
            {% else %}
            <div class="icon talky">
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
              <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
                <title>talky</title>
                <defs></defs>
                <g id="Page-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g id="talky" sketch:type="MSArtboardGroup" fill="#A86182">
                    <path d="M141.093481,54 L75.7733702,123.375 L54,123.375 L54,206.625 L75.7733702,206.625 L141.093481,276 L162.866851,276 L162.866851,54 L141.093481,54 Z M187.043478,122.307692 L213.652174,122.307692 L213.652174,207.692308 L187.043478,207.692308 L187.043478,122.307692 Z M231.391304,105.230769 L258,105.230769 L258,224.769231 L231.391304,224.769231 L231.391304,105.230769 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                  </g>
                </g>
              </svg>
            </div>
            <span>Talky</span>
            {% endif %}
            <div class="icon country">
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
              <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
                <title>country</title>
                <defs></defs>
                <g id="Page-5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <g id="country" sketch:type="MSArtboardGroup" fill="#A86182">
                    <path d="M183.693333,92.4705882 L178.6,70 L64,70 L64,261 L89.4666667,261 L89.4666667,182.352941 L160.773333,182.352941 L165.866667,204.823529 L255,204.823529 L255,92.4705882 L183.693333,92.4705882 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                  </g>
                </g>
              </svg>
            </div>
            <span>{{ page.country | join: ' / ' }}</span>
          </h3>
          <h3 class="more-info">
            {{ page.director | join: ', ' }} |
            {% for item in page.genre %}
            {% if item != "Silent" and item != "Short" %}
            {% if forloop.first != true %}
            ,
            {% endif %}
            {{ item }}
            {% endif %}
            {% endfor %}
          </h3>
          <div class="details">
            <p>{{ page.synopsis }}</p>
            {% if page.cast != null %}
            <p>Cast: {{ page.cast | join: ', ' }}.</p>
            {% endif %}
            <p class="imdb-link"><a href="{{ page.imdb }}">More info on IMDB</a></p>
          </div>

          {% include share-icons.html %}

        </div>
      </div>
      {% endif %}

      <div class="panel panda">

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- La Filmotheque film page responsive -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8843122781716673"
             data-ad-slot="1888647742"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>


      </div>

      <div class="panel related">
        {% include center-bar.html %}
      </div>

      <div class="panel">
        <div id="disqus_thread"></div>
        <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */
          /*
           var disqus_config = function () {
           this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
           this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
           };
           */
          (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//lafilmothque.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

      </div>
    </div>

    {% include right-bar.html %}
  </div>

{% if page.video-type != "archive" %}
<script type="text/javascript">
  $( "#videoCover" ).click(function() {
    $("#videoCover").remove();
    $("#filmCont").prepend("<iframe src='{{ page.video }}autoplay=1' frameborder='0' allowfullscreen></iframe>");
  });
  $( "#videoCover2" ).click(function() {
    $("#videoCover2").remove();
    $("#filmCont2").prepend("<iframe src='{{ page.video-2 }}autoplay=1' frameborder='0' allowfullscreen></iframe>");
  });
</script>
{% else %}
<script type="text/javascript">
  $( "#videoCover" ).click(function() {
    $("#videoCover").remove();
    $("#filmCont").prepend('<iframe src="{{ page.video }}&autoplay=1" class="archive-video" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>');
  });
  $( "#videoCover2" ).click(function() {
    $("#videoCover2").remove();
    $("#filmCont2").prepend('<iframe src="{{ page.video-2 }}&autoplay=1" class="archive-video" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>');
  });
</script>
{% endif %}

<footer>
  {% include footer.html %}
</footer>
</body>
</html>



