<!DOCTYPE html>
<html lang="en">
<head>


  <script data-cfasync="false">
    (function(r,e,E,m,b){E[r]=E[r]||{};E[r][b]=E[r][b]||function(){
      (E[r].q=E[r].q||[]).push(arguments)};b=m.getElementsByTagName(e)[0];m=m.createElement(e);
      m.async=1;m.src=("file:"==location.protocol?"https:":"")+"//s.reembed.com/G-n7wLxn.js";
      b.parentNode.insertBefore(m,b)})("reEmbed","script",window,document,"api");
  </script>



  {% include basic-head.html %}
</head>
<body>
{% include header.html %}
{% include nav-bar.html %}
  <div class="narrow-content">
    <div class="left-content">
      <div class="film-cont">

        <div class="video-cover" style="background-image: url({{ page.image }})" onclick="thevid=document.getElementById('thevideo'); thevid.style.display='block'; this.style.display='none'">
          <div class="play-mark"></div>
        </div>
        <div id="thevideo" style="display:none">
          <iframe src="{{ page.video }}autoplay=1;" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="info">
          <h2>{{ page.title }} <span class="year">{{ page.year }}</span></h2>
          <h3>{{ page.genre }}</h3>
          <div class="details">
            <p><span class="detail-type">Synopsis: </span>{{ page.synopsis }}</p>
          </div>
        </div>
      </div>
      <div class="panel"></div>
      <div class="panel"></div>
    </div>

    <div class="right-bar">
      <div class="side-title">
        Related Films
      </div>
      {% for film in site.films limit:3 %}
      <a class="thumbnail-cont" href="{{ film.url }}">
        <div class="film">
          <div class="film-image" style="background-image: url({{ film.image }})"></div>
          <div class="info">
            <h3 class="title"> {{ film.title }} ({{ film.year }}) </h3>
            <h4 class="description"> {{ film.director }}, {{ film.country }} </h4>
          </div>
          <div class="play-mark"></div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

</body>
<footer>
  {% include footer.html %}
</footer>
</html>



