---
layout: default
---


<!DOCTYPE html>
<html lang="en">
<head>
        {% include basic-head.html %}
</head>
<body>
        {% include header.html %}
        {% include nav-bar.html %}
        <div class="main">
          <div class="film-cont">
                  <h2>{{ page.title }}</h2>
                  <h3>{{ page.genre }}</h3>
                  {{  page.video }}
                  <div class="details">
                          <p><span class="detail-type">Synopsis: </span>{{ page.synopsis }}</p>
                  </div>
          </div>
        </div>
</body>
<footer>
        {% include footer.html %}
</footer>
</html>



